.DS_Store
.buildpath
.idea
.project
.settings
/.browserslistrc
/config/cookie-secret.php
/config/git-revision.php
/coverage.serialized
/models/Migration.php
/node_modules
/phpunit.xml
/tests/_output/*
/tests/_support/_generated
/vendor
/web/coverage
/web/favicon.ico
Thumbs.db
composer.phar
nbproject
phpcbf
phpcs
phpunit.phar
